body {
  background-color: powderblue;
}

h1 {
  color: black;
  text-align: center;
  font-style: italic;
  background-color: lightsalmon;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.about-information {
  padding: 5px;
}

.self-image {
  width: 100px;
  height: 100px;
}

.article-one {
  background-color: lightsalmon;
  display: flex;
  padding: 5px;
}

.article-two {
  background-color: lightsalmon;
  display: flex;
  padding: 5px;
}

.article-three {
  background-color: lightsalmon;
  display: flex;
  padding: 5px;
}
